
html {
    font-size: calc(10px + 1.5vmin);
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

iframe {
    width: 700px !important;
}

@media only screen and (max-width: 768px) {
    iframe {
        width: 80vw !important;
    }
}

html::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Inter-Bold';
    src: local('Inter-Bold'), url('./assets/fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter-Medium';
    src: local('Inter-Bold'), url('./assets/fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Effra-Regular';
    src: local('Effra-Regular'), url('./assets/fonts/Effra-Regular.ttf');
}

@font-face {
    font-family: 'Effra-Heavy';
    src: local('Effra-Heavy'), url('./assets/fonts/Effra-Heavy.ttf');
}

@font-face {
    font-family: 'GoodDog-New';
    src: local('GoodDog-New'), url('./assets/fonts/GoodDog-New.ttf');
}

@font-face {
    font-family: 'Effra-Bold';
    src: local('Effra-Bold'), url('./assets/fonts/Effra-Bold.ttf');
}